body {
    background-color: seashell;
}
#header {
    background-color: rgb(211, 60, 60);
    border-radius: 25px;
    width: 25rem;
    height: 4rem;
    margin: 1.4rem 0 0.7rem 20rem;

    font-family: "Bungee Inline", cursive;
    font-size: 1.8em;
    color: seashell;
    text-align: center;
    line-height: 4rem;
}
#container {
    width: 1400px;
}
#vending_machine {
    float: left;
    box-sizing: border-box;
    width: 1000px;
    height: 640px;
    padding: 25px;
    margin-left: 32px;
    border-radius: 40px;
    background-color: rgb(201, 65, 65);
}

/* ---------------메뉴판--------------- */
#board {
    float: left;
    box-sizing: border-box;
    width: 645px;
    height: 590px;
    padding: 0 20px;
    border-radius: 29px;
    margin-right: 25px;
    background-color: seashell;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu {
    box-sizing: border-box;
    padding: 10px;
    width: 130px;
    height: 140px;
}
.menu_img {
    width: 110px;
    height: 85px;
    object-fit: contain;
    cursor: pointer;
}
.width_hover:hover {
    width: 100px;
    margin: 0 5px;
    object-fit: contain;
}
.height_hover:hover {
    height: 79px;
    margin: 3px 0;
    object-fit: contain;
}
.menu_name,
.menu_price {
    height: 19px;
    border-radius: 5px;
    background-color: rgb(255, 215, 215);
    font-size: 0.9em;
    color: #222;
    text-align: center;
    line-height: 24px;
    cursor: default;
}
.menu_price {
    margin-top: 3px;
    background-color: rgb(255, 188, 188);
    font-weight: 600;
    color: #111;
}
.possible_name {
    background-color: #79ad72;
    color: seashell;
    font-weight: 600;
}
.possible_price {
    background-color: #55854e;
    color: seashell;
    font-weight: 600;
}

/* ---------------사용자--------------- */
#user {
    float: left;
    box-sizing: border-box;
    width: 280px;
    height: 590px;
    padding: 15px;
    border-radius: 29px;
    background-color: rgb(211, 77, 77);
}
#sales {
    position: absolute;
    top: 36px;
    left: 770px;

    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(250, 231, 121);

    color: #333;
    text-align: center;
    line-height: 53px;
}
#coins_window {
    box-sizing: border-box;
    width: 240px;
    height: 60px;
    padding: 5px 10px 5px 0;
    margin: 5px;
    background-color: #333;

    font-size: 3em;
    color: rgb(217, 255, 78);
    line-height: 60px;
    text-align: right;
    cursor: default;
}
#btn_box {
    box-sizing: border-box;
    padding: 20px 25px 10px 25px;
    margin: 5px;
}
#btn_box > button {
    border: none;
    width: 80px;
    height: 60px;
    padding: 0;
    border-radius: 24px;
    background-color: rgb(255, 227, 227);
    font-size: 1.2em;
    color: #333;
    outline-style: none;
    cursor: pointer;
}
#btn_box > button:first-child {
    margin-right: 25px;
}
#num_window {
    box-sizing: border-box;
    padding: 5px 10px 5px 0;
    width: 120px;
    height: 60px;
    margin: 15px 5px 15px 125px;
    background-color: #333;

    font-size: 3em;
    color: rgb(217, 255, 78);
    line-height: 60px;
    text-align: right;
    cursor: default;
}
#num_pad {
    height: 300px;
    padding: 15px;
    padding-top: 0;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.number {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: rgb(245, 137, 137);
    font-size: 1.3em;
    color: #333;
    outline-style: none;
    cursor: pointer;
}
#del_btn {
    border: none;
    width: 70px;
    height: 50px;
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(245, 137, 137);
    font-size: 1em;
    font-weight: 700;
    color: #333;
    outline-style: none;
    cursor: pointer;
}

/* --------------- 과정 설명창 --------------- */
#process {
    float: left;
    box-sizing: border-box;
    width: 300px;
    height: 160px;
    padding: 12px 20px;
    margin: 5px 0 0 25px;
    border-radius: 10px;
    background-color: #fffdfd;
    color: #333;
    line-height: 1.5;
    cursor: default;
}

/* --------------- 지갑 --------------- */
#wallet {
    float: left;
    box-sizing: border-box;
    width: 300px;
    height: 445px;
    padding: 25px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 40px;
    background-color: rgb(255, 208, 187);
}
#wallet > h2 {
    text-align: center;
    font-size: 2em;
    margin: 5px 0 20px 0;
    color: #333;
}
.money_wrap {
    height: 40px;
    margin-bottom: 15px;
}
.money_btn,
.money_num {
    float: left;
    width: 105px;
    height: 40px;
    border: none;
    margin: 0 10px;
    padding: 0;
    border-radius: 10px;
    background-color: rgb(255, 226, 213);
    color: #333;
}
.money_btn {
    font-size: 1em;
    cursor: pointer;
    outline-style: none;
}
.money_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
        rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}
.money_num {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    cursor: default;
}
#total {
    width: 200px;
    height: 60px;
    margin: 20px 25px 0 25px;
    background-color: rgb(255, 226, 213);

    font-size: 2em;
    color: #333;
    text-align: center;
    line-height: 65px;
    cursor: default;
}

/* --------------- 모달창 --------------- */
.hidden {
    display: none;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.alert {
    box-sizing: border-box;
    width: 350px;
    height: 180px;
    padding: 50px 40px;
    border-radius: 40px;
    background-color: seashell;

    font-size: 1.1em;
    color: #222;
    text-align: center;
    line-height: 1.6;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.alert > button {
    width: 60px;
    height: 30px;
    border: none;
    background-color: rgb(255, 208, 187);
    cursor: pointer;
    outline: none;

    font-size: 0.8em;
    color: #222;

    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
}
#alert_money > div {
    padding: 60px 70px;
    text-align: right;
}
#alert_money img {
    width: 90px;
    position: absolute;
    top: 40px;
    left: 55px;
}
#alert_money button {
    bottom: 30px;
    left: 225px;
}

/* --------------- 기타 --------------- */
.sticker {
    position: absolute;
    width: 48px;
    height: 23px;
    border-radius: 10px;
    background-color: rgb(255, 230, 86);

    font-size: 0.9em;
    font-weight: 600;
    color: red;
    text-align: center;
    line-height: 25px;
    transform: rotate(-8deg);
    cursor: default;
}
#best1 {
    top: 130px;
    left: 230px;
}
#best2 {
    top: 423px;
    left: 78px;
}
#new {
    top: 575px;
    left: 555px;
}
.column {
    width: 20px;
    height: 15px;
    background-color: #444;
    position: absolute;
}
#left {
    top: 85px;
    left: 370px;
}
#right {
    top: 85px;
    left: 650px;
}
