#header {
    height: 4.2rem;
    background-color: #222;
    padding-left: 2rem;

    font-size: 1.6em;
    font-weight: 300;
    color: #bbb;
    line-height: 4.2rem;
}

/* ---#container--- */
#container {
    width: 45rem;
    padding-top: 2.5rem;
    margin: 0 auto;
}
#container > h1 {
    font-size: 2em;
    color: #444;
    padding: 2rem 0;
}

/* ---form 영역--- */
#container > form {
    padding: 0 4.6rem;
}
#container > form > input[type="text"] {
    width: 30rem;
    height: 2rem;
    box-sizing: border-box;
    padding: 0 1rem;
    margin: 0 2rem 0 0;
    border: 2px solid #ddd;
    border-radius: 6px;
}
#addButton {
    width: 3rem;
    height: 2rem;
    padding: 0;
    border: none;
    border-radius: 4px;
    /* background-color: rgb(48, 141, 184); */
    background-color: rgb(79, 139, 121);
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}

/* ---List 목록--- */
#list {
    margin: 2.6rem 0;
}
#list > li {
    height: 4rem;
    border: 2px solid #ddd;
    border-style: solid solid none solid;
    border-radius: 4px;
    box-sizing: border-box;
    /* i요소, edit버튼 위치 배치 기준 */
    position: relative;
}
#list > li:last-child {
    border-style: solid;
}
.label {
    display: block;
    box-sizing: border-box;
    width: 37rem;
    margin: 0.7rem 0;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
}

/* ----체크박스---- */
.label > input {
    margin-left: 1rem;
    margin-right: 2.3rem;
}

/* ----task <span>요소---- */
input:checked + span {
    color: #757575;
    text-decoration: line-through;
}
/* ----휴지통---- */
#list > li > div {
    width: 3rem;
    height: 3rem;
    /* border: 1px solid red; */
    border-radius: 50%;
    position: absolute;
    top: 0.4rem;
    right: 0.8rem;
}
#list > li > div > i {
    font-size: 1.2rem;
    color: #d80e0ed2;
    line-height: 3rem;
    margin-left: 1rem;
    cursor: pointer;
}

/* ----edit 버튼---- */
.editButton {
    position: absolute;
    top: 1.1rem;
    right: 4rem;

    border: none;
    border-radius: 3px;
    width: 2.4rem;
    height: 1.8rem;
    background-color: rgb(149, 189, 169);
    color: #333;
    cursor: pointer;
}
